/* Pokecard.css */
.pokecard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 150px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.pokecard-name {
    color: blue;
    font-weight: bold;
}

.pokecard-type,
.pokecard-base_experience {
    font-size: 80%
}